body
{
    background-color: rgb(24, 24, 24);
}


th {
text-align: left;
background-color: rgb(24, 24, 24);
color: rgb(235, 232, 232);
}
td {color: rgb(235, 232, 232);}
tr:hover  
{
    background-color: rgb(199, 198, 198);
}



