body
{
    background-color: rgb(0, 136, 255);
}
.logo
{
    font-size: xx-large;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

a {
    text-align: center;
    margin-left: -12px;
    font-size: xx-large;
    font-weight: bolder;
    color: purple; 
    font-style: oblique;
}

/* *************** ESTRUCTURA DE LA PÃGINA *********** */

.header { grid-area: header; }
.texto-superior { 
    width: 85%;
    margin-top: 5%;
    text-align: left;
    grid-area: texto-superior; 
}

.barra-derecha { 
    grid-area: barra-derecha; 
    text-align: right;
    border: 4px solid black;
}

.texto-inferior { 
    grid-area: texto-inferior;
 }

.footer { 
    grid-area: footer;
 }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header'
  'texto-superior texto-superior texto-superior texto-superior barra-derecha'
  'texto-inferior texto-inferior texto-inferior texto-inferior texto-inferior'
  'footer footer footer footer footer';
  grid-gap: 10px;
  background-color: none;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container > div {
  background-color: rgb(0, 170, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* **************** FIN DE LA ESTRUCTURA *************** */

.barra-navegacion 
{
    background-color: brown;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 50px;
    border: solid;
}


.button
{
    color: rgb(190, 190, 190);
    border: solid;
    border-color: black;
    margin: 10px;
    border-width: 4px;
    padding: 4px;
    border-radius: 10px;
}

.button:hover
{
    background-color: blueviolet;
    color: whitesmoke;
    font-size: xxx-large;
    margin: 5px;
}

.imagen
{   
    width: 300px;
    height:200px;
    margin-top: 1%;
    margin-left: 15px;
    border-radius: 10%;
    border: solid;
    border-color: black;
    border-width: 4px;
}
.destino
{
    color: black;
    margin-top: 40%;
    margin-left: 15px;
    text-align: left;
}
.wiki-mallorca
{
    color: black;
    font-size: small;
    margin-right: 300px;
    margin-left: 352px;
    border-radius: 10%;
    border: solid;
    border-color: black;
    border-width: 4px;

}
img
{
    float: left;
    margin-right: 40px;
}
.london
{
    width: 300px;
    height:200px;
    margin-top: 1%;
    margin-left: 15px;
    border-radius: 10%;
    border: solid;
    border-color: black;
    border-width: 4px;
}
.wiki-londres
{
    color: black;
    font-size: small;
    margin-right: 300px;
    margin-left: 355px;
    border-radius: 10%;
    border: solid;
    border-color: black;
    border-width: 4px;
}
.boton
{
    color: aliceblue;
    background-color: rgb(87, 199, 255);
    margin-left: 33%;
    margin-right: 30%;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    border: solid;
    border-width: 3px;
    border-color: rgb(237, 237, 237);
    display: block;
}
.boton:hover
{
    color: gray;
    width: 350px;
    margin-left: 32%;
    margin-right: 29%;
}

.textder
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: large;
    color: rgb(0, 72, 255);
}
.textder:hover
{
    font-size: x-large;
}

.terxdersup
{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer
{
    background-color: rgb(0, 183, 255);
}