.logo
{
    font-size: xx-large;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.titulo {
    text-align: center;
    margin-left: -12px;
    font-size: xx-large;
    font-weight: bolder;
    color: purple; 
    font-style: oblique;
}

/* *************** ESTRUCTURA DE LA PÃGINA *********** */

.header { 
    grid-area: header; 
}

.texto-superior { 
    grid-area: texto-superior; 
    width: 9%;
    margin-top: 5%;
    text-align: left;
}

.texto-derecha
{
    color: black;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header'
  'texto-superior texto-superior texto-derecha texto-derecha texto-derecha';
  grid-gap: 5px;
  background-color: none;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* **************** FIN DE LA ESTRUCTURA *************** */

.barra-navegacion 
{
    background-color: brown;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 50px;
    border: solid;
}


.button
{
    color: rgb(190, 190, 190);
    border: solid;
    border-color: black;
    margin: 10px;
    border-width: 4px;
    padding: 4px;
    border-radius: 10px;
}

.button:hover
{
    background-color: blueviolet;
    color: 
    whitesmoke;
    font-size: xxx-large;
    margin: 5px;
}

.boton
{
    color: aliceblue;
    background-color: rgb(87, 199, 255);
    margin-left: 33%;
    margin-right: 30%;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    border: solid;
    border-width: 3px;
    border-color: rgb(237, 237, 237);
    display: block;
}
.boton:hover
{
    color: gray;
    width: 350px;
    margin-left: 32%;
    margin-right: 29%;
}


.texto-superior
{
    display: grid;
    grid-template-areas: auto auto;    
    margin-left: 30px;
}
p
{
    margin-left: 200px;
    margin-right: 100px;
}


.g-mail
{
    color: red;
}
.cont-nos
{
    color: rgb(0, 0, 0);
    border: solid;
    border-color: black;
    border-width: 4px;
    padding: 40px;
    border-radius: 10px;
    text-align: left;
}
a
{
    color: rgb(192, 15, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}